.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 2rem;
}

.min-height {
  min-height: 100vh;
}
.home-main {
  display: flex;
  flex-direction: row-reverse; /* Reverse the order of items to place the image on the right */
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-end; /* Justify content to the right */
  height: 60vh;
}

.developer-image {
  max-width: 50%;
  max-height: 50%; /* Set the maximum width and height of the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  align-self: flex-start; /* Align the image to the top */
  border-radius: 20px; /* Add rounded corners to the image */
}

.content {
  width: 50%; /* Adjust the width of the content */
  padding: 30px 40px;
  color: black;
}




@keyframes shake {
    0%{
      transform: rotate(0deg);

    }
    25%{
      transform: rotate(5deg);

    }
    50%{
      transform: rotate(360deg);

    }
    75%{
      transform: rotate(-5deg);

    }
    100%{
      transform: rotate(0deg);

    }

}


.home-main h1, .home-main h2 {
  margin: 0.5rem 0; 
     /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}


.home-arrow {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .home-main h1 {
    font-size: 1.75rem; 
  }

  .home-main h2 {
    font-size: 1.25rem;
  }
}
